﻿@model PagedList.IPagedList<MyBlog.Domain.Entities.Project>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Панель редактирования проектов";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="text-center">
    <h2>Панель редактирования проектов</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            @using (Html.BeginForm("AdminProjectList","Projects", FormMethod.Get))
            {
             <p>
                    @Html.ActionLink("Создать новый проект","Create",null,new {@class="btn btn-primary" })
                    Поиск по имени: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Поиск" />
            </p>
            }


            <table class="table">
                <tr>
                    <th>
                        <p>Индификатор</p>
                    </th>

                    <th>
                        @Html.ActionLink("Название проекта", "AdminProjectList", new { sortOrder = ViewBag.NameSortParm })
                    </th>

                    <th>
                        <p>Автор проекта</p>
                    </th>

                    <th>
                        <p>Описание</p>
                    </th>

                    <th>
                        <p>Основной текст проекта</p>
                    </th>

                    <th>
                        @Html.ActionLink("Время публикации", "AdminProjectList", new { sortOrder = ViewBag.DateSortParm })
                    </th>

                    <th>
                        <p>Название картинки </p>
                    </th>

                    <th>
                        <p>Изображение</p>
                    </th>

                </tr>

                @foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem=>item.projectID)
                        </td>

                        <td>
                            @Html.ActionLink(item.Name, "Edit", new { projectID=item.projectID })
                        </td>

                        <td>
                            @Html.DisplayFor(modelitem=>item.Author)

                        </td>

                        <td>
                            @Html.DisplayFor(modelitem=>item.description)
                        </td>

                        <td>
                            @Html.DisplayTextFor(modelitem=>item.TextProject)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelitem=>item.NameImgProject)
                        </td>

                        <td>
                            @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
        + Convert.ToBase64String(item.ImageMainProject) + "\" />")
                        </td>

                        <td>
                            @Html.ActionLink("Предварительный просмотр", "Details", new { id = item.projectID }) |
                            @Html.ActionLink("удалить", "Delete", new { projectID = item.projectID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>


<div class="container text-center">
    <div class="row">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("AdminProjectList", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>


</div>

