﻿@model MyBlog.Domain.Entities.Project
@{
    ViewBag.Title = "Admin:Создание нового проекта";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="panel">
    <div class="panel-heading">
        <h3> Редактировать : @Model.Name</h3>

    </div>

    @using (Html.BeginForm("Create", "Projects",
                                        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.HiddenFor(m => m.projectID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "ProductID":
                    case "ImageMainProject":
                    case "mimeType":
                        //ничего не делать
                        break;
                    default:
                        <div class="form-group">
                            <label> @(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "description" || property.PropertyName == "TextProject")
                            {
                                @Html.TextArea(property.PropertyName, null, new { @class = "form-control", rows = 5 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;
                }
            }

            <div class="form-group">
                <p>Изображение:</p>
                <div style="position:relative;">
                    <label>Картинка</label>
                    <a class='btn' href='javascript:;'>
                        Выберите файл...
                        <input type="file" name="Image" size="40"
                               style="position:absolute;z-index:2;top:0;
                                left:0;filter: alpha(opacity=0); opacity:0;
                                background-color:transparent;color:transparent;"
                               onchange='$("#upload-file-info").html($(this).val());'>
                    </a>
                    <span class='label label-info' id="upload-file-info"></span>
                </div>
                @if (Model.ImageMainProject == null)
                {
                    <div class="form-control-static">Нет картинки</div>
                }
                else
                {
                    <img class="img-thumbnail" width="150" height="150"
                         src="@Url.Action("GetImage", "Projects",
                        new { Model.projectID })" />
                }
            </div>



        </div>
        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Отмена и назад", "AdminProjectList", null, new { @class = "btn btn-default" })
        </div>

    }


</div>
