﻿@model MyBlog.WebUI.Models.ProjectListViewModel
@{
    ViewBag.Title = "ListProject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>список проектов</h2>

<div class="container">
    <div class="row">
        @foreach(var el in Model.postProjects)
        {
            <div class="well DivNewsList">
                <h3><strong>@el.Name</strong></h3>
                <div class="row">
                    <div class="col-md-4">
                        @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(el.ImageMainProject) + "\" />")
                    </div>
                    <div class="col-md-8">
                        <span class="lead">@el.description</span>
                    </div>
                </div>


                <div class="text-right">
                    @Html.ActionLink("Подробнее", "Details",  new { id = el.projectID }, new { @class = "btn btn-primary" })
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <p class="newsListtext">Автор:@el.Author</p>
                        <p class="newsListtext">Дата:@el.TimePublic.ToShortDateString()</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="text-center">
            @Html.PageLings(Model.pagingInfo, x => Url.Action("ListProject", new { page = x }))
        </div>

    </div>

</div>

