﻿/*Основные стили*/
body {
    height: 100%;
     min-width:900px;
    
}

html { 
 position:relative; 
 min-height:100%;
}


.footter{
    height: 50px; 
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:#0f0567;

}

.footter_text{
    margin-right:5px;
    text-align:right;
    color:#ffffff;
}
.content
{
    margin-top:5px;
    padding-bottom: 100px;
}


p{
    margin-bottom:1px;
}


.AreadescriptionNews{

    background-color: #808080;
}

.paddingdesc{

   padding-top:5px;
   padding-bottom:5px;
   padding-left:5px;
   padding-right:5px;

}
.margMainareaNew{
    margin-top:10px;
}

.brdDiv{
    border: 1px solid black; 
    margin-top:10px;
    margin-left:120px;
    margin-right:3px;
    margin-bottom:1px;
    padding:10px;

}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.DivNewsList{
    margin-left:20px;
    margin-right:20px;
    margin-bottom:5px;
    margin-top:1px;
}

.AligncenterContainer{

   
    margin:0px auto;
    text-align:center;



}

.newsListbtn{

    margin-right:10px;
    
}

.newsListtext{

    color:#808080;
    font-size:11px;
}

.text_center_margin{

    margin-top:15px;
    margin-left:470px;
}

.layer {
    overflow: scroll; /* Добавляем полосы прокрутки */
    width: 800px; /* Ширина блока */
    height: 650px; /* Высота блока */
    padding: 1px; /* Поля вокруг текста */
    border: solid 1px black; /* Параметры рамки */
   }
#centerLayer {
    margin-left: 30%; /* Отступ слева */
    width: 40%; /* Ширина слоя */
    padding: 10px; /* Поля вокруг текста */
}


/*=========================================Переопределенные стили Bootstrap======================*/
.navbar-inverse {
  background-color: #3443b5;
  border-color: #12578a;
}

.navbar{
    margin-bottom:5px;

}
.navbar-inverse .navbar-nav > li > a:focus {
  color: #000000;
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #09091a;
}


