﻿@model IEnumerable<MyBlog.Domain.Entities.New>
@{
    ViewBag.Title = "Описание новости";
}

<div >
    @foreach(var b in Model)
    {
        <p><h1>@b.Name</h1></p>
        <p>@Html.Raw(b.TextNews)</p>
        <p>Автор:<em>@b.author</em></p>
        <p>Время написания:<em>@b.TimeNewAdd.ToShortDateString()</em></p>
        <p>Количество просмотров:@b.CountView.ToString()</p>
    }
</div>

