﻿
@model MyBlog.WebUI.Models.NewsListViewModel

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- слайдер контейнер-начало -->
<div id="carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Slider_img/electronics.jpg" alt="" width="1920" height="1080">
            <div class="carousel-caption">
                <h3>Проекты по электронике</h3>
                <p>Электро́ника (от греч. Ηλεκτρόνιο — электрон) — 
                наука о взаимодействии электронов с электромагнитными полями и 
                методах создания электронных приборов и устройств для преобразования электромагнитной энергии, 
                в основном для приёма, передачи, обработки и хранения информаци
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Slider_img/Micro.jpg" alt="" width="1920" height="1080">
            <div class="carousel-caption">
                <h3>Микропроцессорная техника</h3>
                <p>МИКРОПРОЦЕССОРНАЯ ТЕХНИКА — вид вычислительной техники, находящей все более широкое 
                применение в различных средствах автоматизации и связи, и прежде всего в ЭВМ. 
                Микропроцессорная техника предназначена для логической и арифметической 
                обработки информации на основе принципа программного управления.</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Slider_img/sharp.jpg" alt="" width="1920" height="1080">
            <div class="carousel-caption">
                <h3>Язык C#</h3>
                <p>C#— объектно-ориентированный язык программирования. Разработан в 1998—2001 годах группой инженеров под руководством Андерса Хейлсберга в компании Microsoft как язык разработки приложений для платформы Microsoft .NET Framework</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Slider_img/python.jpg" alt="" width="1920" height="1080">
            <div class="carousel-caption">
                <h3>Язык Python</h3>
                <p>Python— высокоуровневый язык программирования общего назначения, ориентированный на повышение производительности разработчика и читаемости кода.</p>
            </div>
        </div>
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a href="#carousel" class="right carousel-control" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- Слайдер контейнер -конец -->


    <div class="row">
        
            @foreach (var n in Model.postsNews)
            {
                
                <div class="col-md-4 brdDiv col-xs-offset-3">
                    <h2>@n.Name</h2>
                    <div class="AligncenterContainer">
                        @Html.Raw("<img style='width:190px; height:120px;' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(n.ImageMain) + "\" />")
                    </div>

                    <p>@n.Description</p>
                    
                        <p>
                            <em>Автор:@n.author</em>
                        </p>
                        <p>Время добавления:<em>@n.TimeNewAdd.ToShortDateString()</em></p>
                        <p>Количество просмотров:<em>@n.CountView.ToString()</em></p>
                    
                    <p>
                        @Html.ActionLink("Подробнее", "Details","News", new { id = n.NewID }, new { @class = "btn btn-primary" })
                    </p>
                </div>


            }
        </div>
  





<div class="container">
    <div class="row">
        <div class="text_center_margin">
            @Html.PageLings(Model.pagingInfo, x => Url.Action("Main", new { page = x }))
        </div>
       
    </div>
   
</div>
        

