﻿@model MyBlog.WebUI.Models.CreateModel

@{
    ViewBag.Title = "Добавление пользователя";
}



@Html.ValidationSummary(false)

@using (Html.BeginForm())
{
    <div class="form-group">

        <label>Имя</label>
        @Html.TextBoxFor(x=>x.Name, new { @class = "form-control" })

    </div>

    <div class="form-group">

        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })

    </div>

    <div class="form-group">

        <label>Пороль</label>
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })

    </div>

    <button type="submit" class="btn btn-primary">Создать</button>

    @Html.ActionLink("Назад","Index",null, new { @class = "btn btn-default" })
}