﻿@model MyBlog.WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Авторизация";
}

<h2>Войти</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl"/>
    <div class="row">
        <div class="form-group col-md-10">
            <label>Имя</label>
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })

        </div>
    </div>
   

    <div class="form-group">
        <div class="row">
            <div class="col-md-10">
                <label>Пароль</label>
                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
            </div>
        </div>
        
    </div>
    <button class="btn btn-primary" type="submit">Войти</button>
}

