﻿<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#responsive-menu">
                <span class="sr-only">открыть навигацию</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            @*<a class="navbar-brand" href="/Home/Main"><img src="~/Slider_img/Logo.jpg" width="50" height="50" /></a>*@
        </div>
        <div class="collapse navbar-collapse" id="responsive-menu">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Главная", "Main", "Home")</li>
                <li >@Html.ActionLink("Новости","NewsList","News")</li>
                <li class="dropdown">
                    <a href="/Post/ListCategory" class="dropdown-toggle" data-toggle="dropdown">Статьи<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Все категории", "ListCategory", "Post",null, null)</li>
                        <li >@Html.ActionLink("Программирование Микроконтроллеров", "ViewCatSelect", "Post", new {id=4 },null)</li>
                        <li >@Html.ActionLink("Программирование python", "ViewCatSelect", "Post",new { id = 2 },null)</li>
                        <li >@Html.ActionLink("Программирование С#", "ViewCatSelect", "Post", new { id = 1 },null)</li>
                        
                    </ul>
                </li>
                <li>@Html.ActionLink("Проекты","ListProject","Projects")</li>
                <li>@Html.ActionLink("Контакты", "contacts", "Home")</li>
            </ul>
        </div>
    </div>
</div>