﻿@model PagedList.IPagedList<MyBlog.Domain.Entities.New>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Панель редактирование: список новостей";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h2>Панель редактирование: список новостей</h2>
<p>
    @Html.ActionLink("Добавить новую новость", "Create")
    
</p>

<div class="container">
    <div class="row">
        
        <div class="col-md-10">

            @using (Html.BeginForm("AdminNewspost", "News", FormMethod.Get))
            {
                <p>
                    Поиск по имени: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Поиск" />
                </p>
            }

            <table class="table">
                <tr>
                    <th>
                       <p>Индификатор</p>
                    </th>

                    <th>
                        @Html.ActionLink("Название новости", "AdminNewspost", new { sortOrder = ViewBag.NameSortParm })
                    </th>

                    <th><p>Автор новости</p>
                    </th>

                    <th>
                        <p>Описание</p>
                    </th>

                    <th>
                        <p>Основной текст новости</p>

                    </th>

                    <th>
                        <p>Количество просмотров</p>
                    </th>

                    <th>
                        
                        @Html.ActionLink("Время создания", "AdminNewspost", new { sortOrder = ViewBag.DateSortParm })
                    </th>

                    <th>
                        <p>Название картинки в заголовке</p>
                    </th>

                    <th>
                        <p>Картинка</p>
                    </th>

                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NewID)
                        </td>
                        <td>
                           @Html.ActionLink(item.Name, "Edit", new { id=item.NewID})
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.TextNews)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.CountView)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>item.TimeNewAdd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=> item.NameImg)
                        </td>
                        <td>
                            @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
        + Convert.ToBase64String(item.ImageMain) + "\" />")
                        </td>

                        <td>

                            @Html.ActionLink("Предварительный просмотр", "Details", new { id = item.NewID }) |
                            @Html.ActionLink("удалить", "Delete", new { id = item.NewID })
                        </td>

                    </tr>
                    
                }
            </table>

        </div>
        
    </div>
</div>
<div class="container">
    <div class="row">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("AdminNewspost", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>


</div>

