﻿@model MyBlog.Domain.Entities.New
@{
    ViewBag.Title = "Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <p><h1>@Html.DisplayFor(model => model.Name)</h1></p>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.Raw(Model.TextNews)
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">

                <dt>@Html.DisplayNameFor(model=>model.author)</dt>
                <dd>@Html.DisplayFor(model=>model.author)</dd>

                <dt>@Html.DisplayNameFor(model => model.TimeNewAdd)</dt>
                <dd>@Html.DisplayFor(model => model.TimeNewAdd)</dd>

                <dt>@Html.DisplayNameFor(model => model.CountView)</dt>
                <dd>@Html.DisplayFor(model => model.CountView)</dd>

            </dl>
        </div>
    </div>

</div>

<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = 'https://educationblog-1.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
@*<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>*@

