﻿@model MyBlog.WebUI.Models.NewsListViewModel

@{
    ViewBag.Title = "Список Новостей";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Список Новостей.</h2>

<div class="container">
    <div class="row">
        @foreach (var el in Model.postsNews)
        {
            
            <div class="well DivNewsList">
                <h3><strong>@el.Name</strong></h3>
                <div class="row">
                    <div class="col-md-4">
                        @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(el.ImageMain) + "\" />")
                    </div>
                    <div class="col-md-8">
                        <span class="lead">@el.Description</span>
                    </div>
                </div>

               
                    <div class="text-right">
                        @Html.ActionLink("Подробнее", "Details", "News", new { id = el.NewID }, new { @class = "btn btn-primary" })
                    </div>
              
                <div class="row">
                    <div class="col-md-2 text-right">
                        <p class="newsListtext">Автор:@el.author</p>
                        <p class="newsListtext">Дата:@el.TimeNewAdd.ToShortDateString()</p>
                    </div>
                </div>

            </div>

        }
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="text-center">
            @Html.PageLings(Model.pagingInfo, x => Url.Action("NewsList", new { page = x }))
        </div>
       
    </div>

</div>

    
   


