﻿@model MyBlog.WebUI.Models.EmailModel
@{
    ViewBag.Title = "contacts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <p><h2>Контактная информация</h2></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p><h3>Нахождение:</h3></p>

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2328.328209566777!2d26.841511100792115!3d54.29814685440343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dc7460aa753e9f%3A0x36e0c827522ddc29!2z0YPQu9C40YbQsCDQkdGD0LTQsNCy0L3QuNC60L7QsiAxMSwg0JzQvtC70L7QtNC10YfQvdC-!5e0!3m2!1sru!2sby!4v1511152039449" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

        <div class="col-md-6">
            <p><h3>Контакты:</h3></p>
            <p>Город:Молодечно</p>
            <p>улица: Строителей 11-21</p>
            <p>Телефон:+375299852378</p>
            <p>@Html.ActionLink("Страница в контакте", "https://vk.com/id122135995",null,new {@class="btn btn-primary" }) </p>

@using (Html.BeginForm("contacts", "Contact", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.ValidationSummary()

            <label>Заголовок сообщения:</label>
            @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })

            <label>Имя отправителя:</label>
            @Html.TextBoxFor(m => m.Name, new {@class="form-control" })

            <label>Отправить : dante.l.lev93@gmai.com</label>
           
            <hr />
            <label>От кого:</label>
            @Html.TextBoxFor(m => m.From, new { @class = "form-control" })

            <label>Основной текст сообщения:</label>
            @Html.TextAreaFor(m => m.TextBody, new { @class = "form-control" })

            <br />
            <input type="submit" class="btn btn-primary" value="отправить" />
        </div>
    </div>
}
            
        </div>
    </div>
</div>

