﻿@using MyBlog.Domain.Entities
@model Category

@{
    ViewBag.Title = "Добавить новую категорию для статей";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="text-center">
    <h2>Новая категория</h2>
</div>



@using (Html.BeginForm("CreatePost", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Статья</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        

        <div class="form-group">
            @Html.LabelFor(model => model.NameCategory, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameCategory, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameCategory, "", new { @class = "text-danger" })

            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.description, 10, 45, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })

            </div>

        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.NameImageCat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NameImageCat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NameImageCat, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group">
            <div class="control-label col-md-2"><p>Файл изображения</p></div>
            <div class="form-control">
                <input type="file" name="uploadImage" />
            </div>

        </div>

        <div class="form-group">
            @foreach (Post c in ViewBag.Posts)
            {
                <input type="checkbox" name="selectedCourses" value="@c.PostID"
                       @(Model.posts.Contains(c) ? "checked=\"checked\"" : "") />@c.NamePost <br />
            }
        </div>
       



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Назад к списку", "EditPannelCategory")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


