﻿@model MyBlog.Domain.Entities.Post

@{
    ViewBag.Title = "Выбранная статья";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <p><h1>@Model.NamePost</h1></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>@Model.TextPost</p>
            <div class="text-left">
                <p>@Model.Author</p>
                <p>@Model.DatePublic.ToShortDateString()</p>
            </div>
        </div>
    </div>
</div>


<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = 'https://educationblog-1.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
@*<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>*@

