﻿@model PagedList.IPagedList<MyBlog.Domain.Entities.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Панель редактирования статей";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="text-center">
    <h2>Панель редактирования</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                @using (Html.BeginForm("EditPannelPost", "Post", FormMethod.Get))
            {
                    <p>
                        @Html.ActionLink("Создать новую статью", "CreatePost", null, new {@class="btn btn-primmary"})
                        Поиск по имени: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Поиск" />
                    </p>
                }

                <table class="table">
                    <tr>
                        <th>
                            <p>Индификатор</p>
                        </th>

                        <th>
                            @Html.ActionLink("Название статьи", "EditPannelPost", new { sortOrder = ViewBag.NameSortParm })
                        </th>

                        <th>
                            <p>Автор статьи</p>
                        </th>

                        <th>
                            <p>Описание</p>
                        </th>

                        <th>
                            <p>Основной текст статьи</p>

                        </th>

                        <th>
                            <p>Категория статьи</p>
                        </th>

                        <th>

                            @Html.ActionLink("Время публикации", "EditPannelPost", new { sortOrder = ViewBag.DateSortParm })
                        </th>

                        <th>
                            <p>Название картинки в заголовке</p>
                        </th>

                        <th>
                            <p>Картинка</p>
                        </th>

                    </tr>


                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelitem=>item.PostID)
                            </td>
                            <td>
                                @Html.ActionLink(item.NamePost,"EditPost",new {id=item.PostID },null)
                               
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem=>item.Author)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem=>item.descriptionPost)
                            </td>

                            <td>
                                @Html.DisplayTextFor(modelitem=>item.TextPost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem=>item.category.NameCategory)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem=>item.DatePublic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelitem=>item.NameImage)
                            </td>
                            <td>
                                @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
        + Convert.ToBase64String(item.ImageMainPost) + "\" />")
                            </td>

                            <td>

                                @Html.ActionLink("Предварительный просмотр", "DetailPost", new { id = item.PostID }) |
                                @Html.ActionLink("удалить", "Delete", new { id = item.PostID })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<br />

<div class="container">
   <div class="row">

       <div class="col-md-4">
           @Html.ActionLink("Панель редактирования категорий", "EditPannelCategory", null, new {@class="btn btn-primary" })
       </div>
   </div>

</div>
<div class="container text-center">
    <div class="row">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("EditPannelPost", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>


</div>


