﻿@model PagedList.IPagedList<MyBlog.Domain.Entities.Category>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Панель редактирования категорий";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="text-center">
    <h2>Панель редактирования категорий</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-10">
            @using (Html.BeginForm("EditPannelCategory", "Post", FormMethod.Get))
            {
                <p>
                    Поиск по имени: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)
                    <input type="submit" value="Поиск" />
                </p>
            }

            <table class="table">
                <tr>
                    <th>
                        @Html.ActionLink("Индификатор", "EditPannelCategory", new { sortOrder = ViewBag.NameSortParm })
                    </th>

                    <th>
                        @Html.ActionLink("Название статьи", "EditPannelCategory", new { sortOrder = ViewBag.IDSortParm })
                    </th>
                    <th>
                        <p>Описание</p>
                    </th>

                    

                    <th>
                        <p>Включенные статьи</p>
                    </th>

                    <th>
                        <p>Название картинки в заголовке</p>
                    </th>

                    <th>
                        <p>Картинка</p>
                    </th>

                </tr>



                @foreach(var cat in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem=>cat.CategoryID)
                        </td>
                        <td>
                            @Html.ActionLink(cat.NameCategory,"EditCategory",new {id=cat.CategoryID })
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => cat.description)
                        </td>
                        <td>
                            @{ 
                                foreach(var psts in cat.posts )
                                {
                                    <ul>
                                        <li>
                                            @psts.NamePost
                                        </li>
                                    </ul>
                                    <br />
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>cat.NameImageCat)
                        </td>
                       
                         <td>
                             @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
        + Convert.ToBase64String(cat.ImageMainCat) + "\" />")
                        </td>
                        <td>

                            @Html.ActionLink("Предварительный просмотр", "DetailPost", new { id = cat.CategoryID }) |
                            @Html.ActionLink("удалить", "Delete", new { id = cat.CategoryID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>





<div class="container text-center">
    <div class="row">
        Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("EditPannelCategory", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>


</div>


