﻿@model IEnumerable<MyBlog.Domain.Entities.Category>
@{
    ViewBag.Title = "Список категорий";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>Список категорий</h2>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="well">
                <h3>@item.NameCategory</h3>
                <div class="col-md-6">
                    @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
        + Convert.ToBase64String(item.ImageMainCat) + "\" />")
                </div>
                <div class="col-md-6">
                    @item.description
                </div>
                
                <div class="text-right">
                    <li>@Html.ActionLink("Подробнее", "ViewCatSelect", "Post", new { id = item.CategoryID }, new { @class = "btn btn-primary" })</li>
                </div>


            </div>
        </div>
    }
</div>
<br />


