﻿@model MyBlog.Domain.Entities.Post

@{
    ViewBag.Title = "Статья:"+Model.NamePost;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h2>@Html.DisplayFor(model => model.NamePost)</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11">
            
            @Html.Raw(Model.TextPost)
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <dl class="dl-horizontal">

                <dt>@Html.DisplayNameFor(model => model.Author)</dt>
                <dd>@Html.DisplayFor(model => model.Author)</dd>

                <dt>@Html.DisplayNameFor(model => model.DatePublic)</dt>
                <dd>@Html.DisplayFor(model => model.DatePublic)</dd>

                

            </dl>
        </div>
    </div>
</div>


<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = 'https://educationblog-1.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
@*<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>*@

