﻿@model PagedList.IPagedList<MyBlog.Domain.Entities.Post>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ViewCatSelect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ВЫбранные статьи по категории</h2>
<div class="container">
    @foreach(var item in Model)
    {
        <div class="row">
            <div class="well">
                <h3>@item.NamePost</h3>
                <div class="col-md-6">
                    @Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
        + Convert.ToBase64String(item.ImageMainPost) + "\" />")
                </div>
                <div class="col-md-6">
                   @item.descriptionPost
                </div>
                <p>@item.Author</p>
                <p>@item.DatePublic.ToShortDateString()</p>
                <div class="text-right">
                    @Html.ActionLink("Подробнее", "Postdesc", new { id = item.PostID }, new { @class = "btn btn-primary" })
                </div>
               

            </div>
        </div>
    }
</div>
<br />
<div class="text-center">
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("ViewCatSelect", new { page, ViewBag.CatID }))

</div>
